
body{
    background-color: rgb(34,36,34);
    color:white;
    font-family:monospace ;
    line-height: 10px;
    max-width:1000px;
    margin:0 auto;


}
a{color: white;

}
a:hover{
color: blueviolet;
transition: 0,3s all;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{flex-direction: column;
    line-height: 10px;

}
li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200;

}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}
h2{
    font-size: 26px;
    line-height: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
span{
    color: blueviolet;

}
img{
    border-radius: 1900px;
    width:250px;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 16px;
line-height: 20px;
}